/* Colors Used:
h1 = Navy Blue: #1f0066
h2 = Medium Purple: #8986d5
h3 = Light Coral: #f87777
h4 = Magic Mint: #b7e3cc
background = Ghost White: #eff2fb
text = Oxford Blue: #0d0c31
 */

* {
  box-sizing: border-box;
}

.panel .text-wrapper img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(137, 134, 213, 0.7);
  transition: opacity 300ms ease;
  opacity: 0;
}

.panel .image-wrapper img {
  transition: transform 300ms ease;
  margin: 0;
  line-height: 1.1;
}

.panel .image-wrapper:hover img {
  transform: scale(1.1);
}

main {
  padding: 0 1rem;
  max-width: 80rem;
  align-self: center;
}

body {
  font-family: "Merriweather", sans-serif;
  color: #0d0c31;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  background-color: #eff2fb;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f7e6e6;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #eff2fb;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f6f8fb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23eeecff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f5f8fc' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ebebff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23f6f8fc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23e9e8fb' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23fdfeff' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e6e9ff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23fdfeff' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8e7fb' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f6f9fc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23efedff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

article {
  padding: 5rem 0;
}

p {
  margin: 2rem 0;
  text-align: center;
  margin-bottom: 3rem;
}

aside {
  background-color: #b7e3cc;
  color: #fff;
  margin: 2rem 0 2rem;
}

aside blockquote {
  text-align: left;
  font-size: 32px;
  padding: 1.5rem 6rem 0rem;
  margin: 0;
  line-height: 100%;
}

aside p {
  font-size: 18px;
  padding-top: 0;
  text-align: right;
  padding: 0 6rem 0;
}

footer {
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 8rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #1f0066;
  font-size: 50px;
  padding-top: 2rem;
  line-height: 4rem;
  text-align: center;
}

h2 {
  color: #8986d5;
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  color: #f87777;
  font-size: 20px;
}

figure {
  width: 50%;
  text-align: center;
}

picture img {
  width: 100%;
  display: block;
}

img {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  display: block;
  width: 100%;
}

dt {
  font-size: 18px;
  padding-bottom: 1rem;
  text-align: center;
}

blockquote {
  margin: 0;
}

.leftt h2 {
  text-align: left;
  padding-left: 6rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #f87777;
  border-radius: 5px;
  animation: load 1.8s ease-in-out infinite;
}
.loader:before {
  position: absolute;
  display: block;
  content: "";
  animation: load 1.1s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
  top: -20px;
  left: 10px;
  width: 40px;
  background: #f87777ab;
}
.loader:after {
  position: absolute;
  display: block;
  content: "";
  animation: load 1.1s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
  bottom: -20px;
  width: 35px;
  background: #f877773b;
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

.hidden {
  display: none !important;
  text-align: center;
}

.button1 {
  display: inline-flex;
  align-items: center;
  background-color: #b7e3cc;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  min-width: 56px;
  padding: 0 24px 0 0;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 6px;
  transition: transform 300ms ease;
}

.button1::before {
  content: "";
  background-image: url(../images/download-24px.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  display: block;
  height: 48px;
  min-width: 56px;
}

.button1:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #8986d5;
  transform: scale(1.1);
}

.button2 {
  display: inline-flex;
  align-items: center;
  background-color: #b7e3cc;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  min-width: 56px;
  padding: 0 24px 0 0;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 6px;
  transition: transform 300ms ease;
}

.button2::before {
  content: "";
  background-image: url(../images/email-24px.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  display: block;
  height: 48px;
  min-width: 56px;
}

.button2:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #8986d5;
  transform: scale(1.1);
}

.button3 {
  display: inline-flex;
  align-items: center;
  background-color: #b7e3cc;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  min-width: 56px;
  padding: 0 24px 0 0;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 6px;
  transition: transform 300ms ease;
}

.button3::before {
  content: "";
  background-image: url(../images/resume.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  display: block;
  height: 48px;
  min-width: 56px;
}

.button3:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #8986d5;
  transform: scale(1.1);
}

.button4 {
  display: inline-flex;
  align-items: center;
  background-color: #b7e3cc;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  min-width: 56px;
  padding: 0 24px 0 0;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 6px;
  transition: transform 300ms ease;
}

.button4::before {
  content: "";
  background-image: url(../images/iconmonstr-linkedin-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  display: block;
  height: 48px;
  min-width: 56px;
}

.button4:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #8986d5;
  transform: scale(1.1);
}

.hero {
  position: relative;
  margin-bottom: 2rem;
}

.hero .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(112, 111, 111, 0.055); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  padding: 0 2rem;
}

.hero h1 {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: 0;
  text-shadow: 0px 0px 16px rgba(165, 158, 158, 0.5);
}

.hero p {
  text-align: right;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 15px rgba(41, 41, 41, 0.507);
  color: #fff;
}

.footer img {
  box-shadow: none;
}

/* .footer .text-wrapper {
  position: absolute;
  font-size: 24px;
  left: 0;
  right: 0;
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding: 2rem 2rem;
} */

.footer p {
  position: absolute;
  font-size: 24px;
  left: 0;
  right: 0;
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.card p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 0 2rem 1rem;
  text-align: center;
}

.card .text-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(137, 134, 213, 0.7);
  transition: opacity 300ms ease;
  opacity: 0;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .text-wrapper {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  opacity: 1;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  margin: 6rem 1rem 10rem;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  overflow: hidden;

  min-width: 100px;
}

.card img {
  transition: transform 300ms ease;
}

.card .overlay {
  background: linear-gradient(
    to top,
    rgba(0, 33, 71, 0.6) 0,
    rgba(0, 33, 71, 0.3) 50%,
    transparent 100%
  );

  top: unset;
}

.card .overlay p {
  margin: 0;
  padding: 1rem 1rem 0.75rem;
  line-height: 1.1;
}

.card:hover img {
  transform: scale(1.1);
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel .text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.full-wide {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  color: #fff;
  padding: 3rem 0;
}

a:link {
  text-decoration: none;
  color: #0d0c31;
}

a:visited {
  color: #f87777;
}

a:active,
a:focus {
  color: #f87777;
}

/* Menu Animation */
.container {
  position: fixed;
  top: 32px;
  left: 32px;
  cursor: pointer;
  display: flex;
  background: #b7e3cc;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0rem;
  z-index: 2;
}

svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 80px;
  width: 80px;
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

/* Form */
body.form {
  background-color: #8986d5;
  color: #0d0c31;
  font-size: 1.5rem;
}

.form nav ul {
  flex-wrap: wrap;
}

.form main {
  max-width: calc(200px + 50rem);
}

.form a {
  color: #0d0c31;
}

.form-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form img {
  max-width: 200px;
  min-width: 100px;
  margin-bottom: 3rem;
  align-self: center;
  flex: 1 1 200px;
  box-shadow: 0 0 0 0;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  flex: 1 1;
}

textarea {
  color: #0d0c31;
  border-radius: 3px;
  padding: 6px;
}

textarea:hover,
input:hover {
  box-shadow: 0px 0px 3px 3px #f87777;
}

textarea:focus,
input:focus {
  box-shadow: inset 0px 0px 2px 3px #f87777;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  height: 0;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: grid;
  grid-template-columns: 25px max-content;
  grid-column-gap: 12px;
  align-items: center;
}

input[type="radio"] + label::before,
input[type="radio"] + label::after,
input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  border: 2px solid #0d0c31;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-self: center;
  justify-self: center;
}

input[type="checkbox"] + label::before {
  background-color: #fff;
  border-radius: 3px;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
  box-shadow: 0px 0px 3px 3px #f87777;
}

input[type="checkbox"] + label::after {
  width: calc(25px / 3);
  height: calc(25px / 1.5);
  border-color: #f87777;
  border-width: 3px;
  border-left: none;
  border-top: none;
  margin-bottom: 4px;
  transform: rotate(40deg);
  transition: opacity 300ms ease;
  opacity: 0;
}

input[type="radio"] + label::after {
  background-color: #f87777;
  border-radius: 50%;
  width: calc(25px - 8px);
  height: calc(25px - 8px);
  transform: scale(0);
  transition: transform 300ms ease;
}

input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

input[type="radio"]:checked + label::after {
  transform: scale(1);
}

.question,
label {
  margin-top: 2rem;
  margin-bottom: 0;
}

.question ~ label {
  margin-top: 0;
}

label[for="message"] {
  margin-top: 2rem;
}

input {
  color: #0d0c31;
  border-radius: 3px;
  padding: 6px;
}

input[type="submit"] {
  justify-self: center;
  margin: 2rem 0 6rem;
  border: 2px solid #f87777;
  border-radius: 3px;
  background-color: transparent;
  color: #0d0c31;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75rem 1rem;
  transition: background-color 300ms ease;
}

input[type="submit"]:hover {
  background-color: #f87777;
  border-color: #f87777;
  box-shadow: none;
}

nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #b7e3cc;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.close nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem;
  font-size: 32px;
}

nav ul a {
  padding: 2rem;
  display: block;
  text-decoration: none;
}

nav li a {
  transition: transform 300ms ease;
}

nav li a:hover {
  text-decoration: underline;
  transition: transform 300ms ease;
  transform: scale(1.1);
}

nav li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #b7e3cc;
  margin-top: 4px;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

nav li a:visited {
  color: #0d0c31;
}

@media (max-width: 500px) {
  .text-wrapper:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  .hero h1{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
    .hero p{
      font-size: 0.75rem;
      text-align: center;
      justify-content: center;
      padding: 0;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    aside blockquote {
      padding: 0 2rem;
    }
}

@media (min-width: 500px) {
  .panel h2 {
    margin-top: 3rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
  }

  nav {
    display: block;
    position: static;
    padding: 0;
    height: auto;
    max-width: 60rem;
    margin: 0 auto;
    background-color: transparent;
  }

  nav ul a {
    padding: 2rem;
    display: block;
    text-decoration: none;
  }

  nav li a:hover:after {
    transform: scaleX(1);
    text-decoration: none;
  }

  nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #b7e3cc;
    margin-top: 4px;
    transform: scaleX(0);
    transition: transform 300ms ease;
  }

  nav ul a:hover {
    text-decoration: none;
  }

  .container {
    display: none;
  }

  .panel {
    flex-direction: row;
  }

  .panel h2 {
    margin-top: 0rem;
  }

  .panel img.crop {
    height: 100%;
    object-fit: cover;
  }

  .panel .text-wrapper {
    flex: 1 1 40%;
  }

  .panel .image-wrapper {
    flex: 1 1 40%;
  }

  .panel .left {
    order: -1;
    margin-right: 2rem;
  }

  form {
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
    align-items: center;
  }

  input[type="submit"],
  textarea,
  .question ~ label,
  .question {
    grid-column-start: 2;
  }

  label {
    margin-top: 0;
    justify-self: end;
  }

  input[type="submit"],
  .question ~ label {
    justify-self: start;
  }
}

@media (min-width: 700px) {
  .form-wrap {
    flex-direction: row;
  }

  .text-wrapper:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1rem;
    max-width: 80rem;
  }

  .form img {
    margin: 0;
    align-self: flex-start;
    margin-right: 2rem;
  }

  form {
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
  }

  input[type="submit"],
  textarea,
  .question ~ label,
  .question {
    grid-column: 2 / span 1;
  }

  label {
    margin-top: 0;
    justify-self: end;
  }

  input[type="submit"],
  .question ~ label {
    justify-self: start;
  }
}

@media (min-width: 900px) {
  .panel .text-wrapper {
    flex: 1 1 60%;
  }

  .text-wrapper:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1rem;
    max-width: 80rem;
  }

  .panel .image-wrapper {
    flex: 1 1 30%;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
